*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-cube{
    background: blue;
    margin: 0 auto;
    display: block;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
}

.red-cube.show{
    opacity: 1;
}